<!DOCTYPE html>
<!--https://foundation.zurb.com/sites/docs/ --> 
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Projet</title>

    <link rel="stylesheet" href="../../assets/stylesheets/foundation.css" type="text/css">
    <link rel="stylesheet" href="../../assets/stylesheets/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="../../assets/stylesheets/layout.css" type="text/css">
    <link rel="stylesheet" href="../../assets/stylesheets/editors.css" type="text/css">
</head>
<body class="hide">
<div class="grid-y grid-frame">

    <div class="cell shrink" id="topbar">
        <div class="grid-container full">
            <div class="grid-x">

                <div class="cell topbar-left">
                    <p class="text-center h4 title"></p>
                </div>

                <div class="cell auto topbar-center">
                    <div class="h4" id="toggle-sidebar-btn-parent"><i class="fa fa-bars" id="toggle-sidebar-btn" aria-hidden="true"></i></div>
                </div>

                <div class="cell shrink topbar-right">
                    <button class="button" id="user-btn" type="button" data-toggle="user-dropdown">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        Nom Utilisateur
                    </button>
                    <div class="dropdown-pane" id="user-dropdown" data-dropdown data-close-on-click="true">
                        <div class="button-group expanded small" style="margin-bottom: 0">
                            <a class="button" data-method="delete">
                                <i class="fa fa-sign-out" aria-hidden="true"></i>
                                Disconnect
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="cell auto">
        <div class="grid-x" style="height: 100%">

            <div class="cell shrink" id="sidebar">
                <div class="grid-y grid-frame">

                    <div class="cell auto">
                        <ul class="vertical menu sidebar-menu">
                            <li>
                                <a class="sidebar-btn active" id="dashboard-btn">
                                    <i class="fa fa-user-o fa-fw" aria-hidden="true"></i>
                                    <span class="sidebar-menu-text">Editeurs</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-btn" id="dashboard-btn">
                                    <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                                    <span class="sidebar-menu-text">Réservations</span>
                                </a>
                            </li>
                            <li>
                                <a class="sidebar-btn" id="dashboard-btn">
                                    <i class="fa fa-exclamation fa-fw" aria-hidden="true"></i>
                                    <span class="sidebar-menu-text">Alertes</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="cell shrink">
                        <ul class="vertical menu sidebar-menu">
                            <li>
                                <a class="sidebar-btn" id="infos-btn">
                                    <i class="fa fa-info-circle fa-fw" aria-hidden="true"></i>
                                    <span class="sidebar-menu-text">Infos</span>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="cell auto">
                <div class="grid-y grid-frame">

                    <div class="cell shrink title-cell">
                        <h5 style="margin: 0">Modification de *nom Editeur*</h5>
                        <!-- Titre modifiable en fonction du nom de l'éditeur ? -->
                    </div>
                   

                    <div class="cell auto content-cell">
                        <div class="grid-container full">
                            <div class="grid-x">
                                <div class="cell auto">
                                    <table>
                                        <thead>
                                            <tr> <!--Première rangée -->
                                                <th>Ajouter une nouvelle prise de contact</th>
                                                <th>Modifier les informations du contact prioritaire</th>
                                                <th>Modifier les informations de l'éditeur</th> 
                                            </tr>   
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <form id = "Formulaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-6 cell">
                                                                    <label>Date :
                                                                        <input id="DateRDV" type="date" placeholder=".medium-6.cell" required onkeypress="">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form id = "Formulaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-6 cell">
                                                                    <label>Nom du responsable :
                                                                        <input id="NomResp" type="text" placeholder="Nom" required onkeypress="return noenter()">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form id = "Formulaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-6 cell">
                                                                    <label>Nom de l'éditeur :
                                                                        <input id="NomEd" type="text" placeholder="Nom" required onkeypress="return noenter()">
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr> <!--2e rangée-->
                                                <td></td>
                                                <td>
                                                    <form id = "Formulaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-6 cell">
                                                                    <label>Prénom :
                                                                        <input id="PrenomResp" type="text" placeholder="Prénom" required>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form id = "Formulaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-6 cell">
                                                                    <label>Adresse :
                                                                        <input id="AdrEd" type = "text" placeholder="N°Rue, rue" required>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr> <!--3e rangée-->
                                                <td></td>
                                                <td>
                                                    <form id = "Formulaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-6 cell">
                                                                    <label>Poste dans l'entreprise :
                                                                        <input id="PosteResp" type="text", placeholder="Poste" required>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form id = "Formulaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-6 cell">
                                                                    <label>Ville :
                                                                        <input id="VilleEd" type="text", placeholder="Ville" required>
                                                                    </label>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr><!--4e ligne-->
                                                <td></td>
                                                <td>
                                                    <form id = "Formulaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-6 cell">
                                                                    <label>Mail :
                                                                        <input id="MailResp" type="email", placeholder="email" required>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form> 
                                                </td>
                                                <td>
                                                    <form id = "Formulaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-6 cell">
                                                                    <label>Code Postal :
                                                                        <input id="CPEd" type="number", placeholder="CP" required>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr> <!--5e ligne -->
                                                <td></td>
                                                <td>
                                                    <form id = "Formulaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-6 cell">
                                                                    <label>Téléphone :
                                                                        <input id="TelResp" type="number", placeholder="Téléphone" required>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                                <td>
                                                    <form id = "Formulaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div class="medium-6 cell">
                                                                    <label>Mail :
                                                                        <input id="MailEd" type="email", placeholder="email" required>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                            <tr> <!--Dernière ligne -->
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <form id = "Formuaire">
                                                        <div class="grid-container">
                                                            <div class="grid-x grid-padding-x">
                                                                <div cllass="medium-6 cell">
                                                                    <label>Téléphone :
                                                                        <input id="TelEd" type="number", placeholder="Téléphone" required>
                                                                    </label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cell shrink">
                                   <a class = "button">Terminé</a>
                                </div>
                            </div>
                        </div>  
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript" src="../../assets/javascript/jquery.js"></script>
<script type="text/javascript" src="../../assets/javascript/jquery.session.js"></script>
<script type="text/javascript" src="../../assets/javascript/foundation.js"></script>
<script type="text/javascript" src="../../assets/javascript/layout.js"></script>
<script type="text/javascript" src="../../assets/javascript/editors.js"></script>
</body>
</html>