#topbar button {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 8px;
    margin-right: 8px;
}

.topbar-left {
    min-width: 52.5625px;
    width: 200px;
    background: #d7d7d7;
}

.topbar-left .title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.topbar-center {
    background: #e6e6e6;
}

.topbar-right {
    background: #e6e6e6;
}

.topbar-right .fa {
    margin-right: 10px;
}


#sidebar {
  width: 200px;
  background: #d7d7d7;
}

.sidebar-menu a {
  color: white;
  background: #41adce;
}

.sidebar-menu a.active {
  background: #1d73cb;
}

.sidebar-menu li {
  padding-bottom: 0.1rem;
}

.sidebar-menu .sidebar-menu-text {
  margin-left: 20px;
}

#toggle-sidebar-btn-parent {
  margin-left: 10px;
  max-width: 25px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#toggle-sidebar-btn {
  cursor: pointer;
}

.title-cell {
    background: #f9f9f9;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    padding: 15px 20px 10px 20px;
}

.content-cell {
  padding: 16px;
  max-height: 100%;
  overflow-y: auto;
}

